body{

margin:0;
height:100vh;

display:flex;
justify-content:center;
align-items:center;

background:url("background.jpg");
background-size:cover;
background-position:center;

font-family:Georgia, serif;

overflow:hidden;

}

.main-container{

perspective:1000px;

}

.envelope-container{

position:relative;
cursor:pointer;

}

.envelope-img{

width:420px;

transition:1s;

filter:drop-shadow(0 10px 20px rgba(0,0,0,0.3));

}

.invitation{

position:absolute;

top:50%;
left:50%;

transform:translate(-50%, 100px);

width:320px;

background:white;

padding:30px;

text-align:center;

border-radius:10px;

box-shadow:0 10px 30px rgba(0,0,0,0.3);

opacity:0;

transition:1s;

}

.invitation h1{

margin-top:0;
font-size:28px;

}

.date{

font-size:20px;
font-weight:bold;

}

.footer{

margin-top:20px;
font-style:italic;

}

.open .envelope-img{

transform:

translateY(-200px)
rotateX(180deg)
scale(0.9);

}

.open .invitation{

transform:translate(-50%, -50%);

opacity:1;

}
