body, html {

margin:0;
padding:0;
font-family: Arial;
overflow-x:hidden;

}


/* COVER */

#cover {

position:fixed;

width:100%;
height:100%;

background:url('https://i.imgur.com/wpenomF.jpeg') center/cover no-repeat;

display:flex;
justify-content:center;
align-items:center;

z-index:10;

transition: opacity 1.5s ease;

}

.cover-content {

text-align:center;
color:white;

}

#cover h1 {

font-size:48px;
margin-bottom:20px;

}

#cover button {

font-size:22px;
padding:15px 30px;
cursor:pointer;

}


/* INVITATION */

#onepage {

background:white;

min-height:100vh;

padding:60px 20px;

opacity:0;

transition:opacity 2s ease;

}


.section {

margin:80px auto;
max-width:600px;
text-align:center;

}



/* FADE ANIMATION */

.fade-up {

opacity:0;

transform:translateY(40px);

transition: all 1.5s ease;

}

.fade-up.show {

opacity:1;

transform:translateY(0);

}


.delay {

transition-delay:0.5s;

}
